/*CSS--WEB--FOOTER*/

.footer {
    height: 150px;
    bottom: 0;
    width: 100%;
}

footer {
    div {
        a {
            color: black;
        }
    }
}

.icono {
    @include redes;
}

.footer-paragraph {
    font-size: 11px;
    color: map-get($general, page-color-1);
    font-family: 'Space Age';
}

.logoFooter {
    width: map-get($general, logo-width);
    position: fixed;
    bottom: 0;
    right: 0;
}