/*CSS--PAGE--CONTACT*/

.contact {
    width: 100%;
}

.bg-contact {
    background-image: url(https://cdn.shopify.com/s/files/1/0231/7366/0752/t/9/assets/bg-mothership-1.jpg?v=7969350217914580665%22);
}

.bg-form {
    background-color: map-get($general, page-color-2);
}

.form-label {
    color: map-get($general, page-color-1);
}

.form-check {
    color: map-get($general, page-color-1);
}

.btn-primary {
    color: map-get($general, page-color-2);
    background-color: map-get($general, page-color-1);
    border-color: map-get($general, page-color-1);
    &:hover {
        color: black;
        background-color: white;
        border-color: map-get($general, page-color-2);
    }
}