/*CSS--PAGE--VIDEOS*/

.bg-video {
    background-image: url(https://cdn.shopify.com/s/files/1/0231/7366/0752/t/9/assets/team-2020-21-bkg.png);
    img {
        max-width: 250px;
    }
}

.text-break-2 {
    font-family: 'Space Age';
    color: map-get($general, page-color-1);
}

.video {
    height: 600px;
    @media screen and (max-width: 400px) {
        height: 315px;
    }
}

.pro-text {
    color: map-get($general, page-color-1);
    font-size: 2em;
    font-family: 'Space Age';
}

h6 {
    color: map-get($general, page-color-1);
    font-size: 1em;
    font-family: 'Space Age';
}