/*CSS--PAGE--VIDEOS*/

.bg-video {
    background-image: url(https://cdn.shopify.com/s/files/1/0231/7366/0752/t/9/assets/bkg-main.jpg);
}

.text-break {
    width: 50px;
    font-family: 'Space Age';
    color: map-get($general, page-color-1);
}

.text-break-2 {
    font-family: 'Space Age';
    color: map-get($general, page-color-1);
}

.video {
    height: 380px;
}